<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <h1> Learning Thymeleaf </h1>

     <h2> Name of the owner is </h2>

    <h1 th:text="${name}"></h1>

        <h1 th:text="${currentDate}"></h1>

        <h1 th:text="${#strings.toUpperCase(name)}"></h1>
        <p>length of the name is <span th:text="${#strings.length(name)}"></span></p>


</body>
</html>
