<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Condition Statement in Thymeleaf</title>
</head>
<body >
      <h1>Condition Statement in Thymeleaf</h1>
<h1>User is <span th:style="${isActive}?'color:green':'color:red'" th:text="${isActive} ? 'ACTIVE':'Not ACTIVE'"></span> </h1>

      <h1 th:if="${gender}=='M'">Male</h1>
      <h1 th:unless="${gender}=='M'">Female</h1>

      <div th:switch="${#lists.size(myList)}">
            <h1 th:case="0">List Contain Zero Elements</h1>
            <h1 th:case="1">List Contain One Elements</h1>
            <h1 th:case="*">List Contain More than one Elements</h1>
        </div>
</body>
</html>