<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">Signup</title>
</head>
<body>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="my-card mt-3" style="background:#ABB2B9">

                    <div th:if="${session.message}" th:classappend="${session.message.type}" class="alert" role="alert">
                        <p class="text-center" th:text="${session.message.content}"></p>
<!--                        <th:block th:text="${#session.removeAttribute('message')}"></th:block>-->
                    </div>

                    <div class="container text-center">
                        <img class="" style="width:80px" th:src="@{/img/membership.png}" alt="">
                    </div>

                    <h1 class="text-center">Register Here !!</h1>
                    <form novalidate action="" th:action="@{/do_register}" method="post" th:object="${user}">

                        <!--              name field-->

                        <div class="form-group mt-2">
                            <label for="name_field" class="form-label">Name</label>
                            <input type="text"
                                   class="form-control"
                                   th:classappend="${#fields.hasErrors('name') ? 'is-invalid':''}"
                                   id="name_field"
                                   placeholder="Enter Here"
                                   aria-describedby="emailHelp"
                                   th:value="${user.name}"
                                   name="name"
                                   required/>


                            <div class="invalid-feedback" th:each="e : ${#fields.errors('name')}" th:text="${e}">

                            </div>
                        </div>

                        <!--              email field-->

                        <div class="form-group mt-2">
                            <label for="email_field" class="form-label">Email</label>
                            <input type="email"
                                   class="form-control"
                                   id="email_field"
                                   placeholder="Enter Here"
                                   aria-describedby="emailHelp"
                                   th:value="${user.email}"
                                   name="email"
                                   required/>
                        </div>

                        <!--              password field-->

                        <div class="form-group mt-2">
                            <label for="password_field" class="form-label">Password</label>
                            <input type="password"
                                   class="form-control"
                                   id="password_field"
                                   placeholder="Enter Here"
                                   aria-describedby="emailHelp"
                                   name="password"
                                   required/>
                        </div>

                        <!--              About field-->

                        <div class="form-group mt-2">
                            <textarea  name="about" th:value="${user.about}" placeholder="Enter Something YourSelf" rows="10" class="form-control mt-2"></textarea>
                        </div>

                        <!--              terms and condition agreements-->

                        <div class="form-group form-check text-center mt-2">
                            <input type="checkbox"
                                   name="agreement"
                                   id="agreement"/>

                            <label for="agreement">Accept terms and conditions</label>
                        </div>


                        <div class="container text-center mt-3">

                            <button type="submit" class="btn bg-primary text-white">
                                Submit
                            </button>

                            <button type="reset" class="btn bg-primary text-white">
                                Reset
                            </button>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>